{% extends "needs_base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}login{% endblock %}

{% block content %}
{% providers_media_js %}
<form id="login" action="" class="input-group-adon" method="post">
    {% csrf_token %}
    <div id="main_content">
        <div class="mb-3 row" id="user_info">
            <div class="mb-1">
                <label for="staticEmail" style="font-weight: bold; font-size: 18px; ">이메일</label>
                {{ form.email }}
                <label for="inputPassword" style="font-weight: bold; font-size: 18px;">패스워드</label>
                {{ form.password }}
				<div style="margin-bottom: auto;">
					<a href="{% url 'register' %}" style="color:blue; font-size: 15px;"> 회원가입</a>
				</div>
                <a href="{% provider_login_url 'google' %}">
                    <img src="https://image.aladin.co.kr/img/login/w_login_g.jpg" alt="구글">
                </a>
                <button id="login_button">로그인</button>
                <div class="g-signin2" data-width="300" data-height="200" data-longtitle="true">

            </div>
        </div>
    </div>
</form>
{% endblock %}