{% extends "needs_base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container body-content">
	<div class="container">
		<div class="row justify-content-start" style="padding-top:10px;">
			<div class="col" style="padding-top:10px;">
				<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
					src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
			</div>
			<div class="col" style="padding-top:10px;">
				<input class="form-control"></input>
			</div>
		</div>
		<div class="row justify-content-start" style="padding-top:10px;">
			<label>test</label>
		</div>
		<div class="row justify-content-start" style="padding-top:10px;">
			<div class="col" style="padding-top:10px;">
				<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
					src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
			</div>
			<div class="col" style="padding-top:10px;">
				<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
					src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
			</div>
			<div class="col" style="padding-top:10px;">
				<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
					src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
			</div>
			<div class="col" style="padding-top:10px;">
				<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
					src="https://sketch2code.azurewebsites.net/Content/img/fake_img.svg" />
			</div>
		</div>
	</div>
</div>
{% endblock %}