{% extends "needs_base.html" %}
{% block content %} 
{% csrf_token %}
<form id="login" action="" class="input-group-adon" method="post">
<div id="main_content">
    <div class="mb-3 row" id="user_info">

            {% if msg %}
            <p class="text-center text-sm text-danger">{{ msg }}</p>
            {% endif %}
            <div class="mb-1">
                <label for="staticEmail" style="font-weight: bold; font-size: 18px; ">이메일</label>
            </div>
            <div>
                {{ login_form.email }}
            </div>
            <div class="mb-1">
                <label for="inputPassword" style="font-weight: bold; font-size: 18px;">패스워드</label>
            </div>
            <div>
                {{ login_form.password }}
            </div>
            <div>
                <div>
                    <button type="sumit" id="login_button">로그인</button>
                </div>
                <div style="margin-bottom: 3%;  ">
                    <a href="#" style="margin-bottom: 3%; color:black; font-size: 15px; text-align: left;">
                        빡대가리십니까?
                    </a>
                </div>
                <div>
                    <hr>
                    <div style="text-align: center;">
                        <a>계정이 없으십니까?</a> <a href="/register" style="color: red; font-size: 15px;">가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
{% endblock %}